<EditForm Model="Post" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator />
    <div class="form-group">
        <label>Title:</label>
        <div>
            <InputText class="form-control" @bind-Value="@Post.Title" />
            <ValidationMessage For="@(() => Post.Title)" />
        </div>
    </div>
    <div class="form-group">
        <label>Author:</label>
        <div>
            <InputText class="form-control" @bind-Value="@Post.AuthorName" />
            <ValidationMessage For="@(() => Post.AuthorName)" />
        </div>
    </div>
    <div class="form-group">
        <label>Summarize Text:</label>
        <div>
            <InputTextArea class="form-control" @bind-Value="@Post.Summary" />
            <ValidationMessage For="(() => Post.Summary)" />
        </div>
    </div>
    <div class="form-group">
        <label>Content:</label>
        <div>
            <InputTextArea class="form-control" @bind-Value="@Post.Content" />
            <ValidationMessage For="(() => Post.Content)" />
        </div>
    </div>
    <div class="form-group">
        <label>Section:</label>
        <div>
            <InputSelect class="form-control" @bind-Value="@Post.Section">
                <option value=""></option>
                <option value="bengals">Bengals</option>
                <option value="reds">Reds</option>
                <option value="cavaliers">Cavaliers</option>
                <option value="hawkeyes">Hawkeyes</option>
                <option value="raiders">Raiders</option>
            </InputSelect>
            <ValidationMessage For="(() => Post.Section)" />
        </div>
    </div>
    <button class="btn btn-success" type="submit">Save Changes</button>
</EditForm>

@code {
    [Parameter] public Post Post { get; set; }
    [Parameter] public EventCallback OnValidSubmit { get; set; }

}
